<% if object.errors.any? %>
  <div id="error_explanation" class="alert-info">
    <h3><%= pluralize(object.errors.count, t("action.error")) %>
      <%= t "action.message" %></h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
