<div class="page-header"></div>
<div class="col-md-offset-5">
    <span class="glyphicon glyphicon-facetime-video"> <%= t"staticPages.footer_vfs"%></span>
    <span class="glyphicon glyphicon-bullhorn"></span>
    <span class="glyphicon glyphicon-bullhorn"></span>
</div>
